* {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    overflow: hidden;
}

.main-container {
    margin: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.ui-bar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.left-options-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.right-options-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
}



.button, .slider, .value {
    height: 25px;
    margin-right: 16px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 25px;
    background-color: red;
}

.slider {
    width: 150px;
    background-color: red;
}